<%-include('./partial/header')-%>    

<h1></h1>

<div>
    <p><%= recipeInfo[1] %></p>   
    <br>
    <img src=<%= recipeInfo[2] %>>
    <br>
    <p>Cooking Time: <%= recipeInfo[3] %>      Servings: <%= recipeInfo[4] %></p>
    <br>
    <ul>
        <% for (let i = 0; i < recipeInfo[5].length; i++) { %> 
            <li><%= (recipeInfo[5])[i] %> </li>
            <br>
            <% } %> 
    </ul>
    <a class='btn' href="/cook/"+<%= recipeInfo[0] %>>
        Start Cooking!
    </a>
</div>
<%-include('./partial/footer')-%> 